.features-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0;
    min-height: 300px;
    @media (max-width: 764px) {
        min-height: 500px;
    }
}
.features__item {
    list-style-type: none;
    width: 376px;
    padding-left: 66px;
    position: relative;
    box-sizing: border-box;
            &::before {
                content: '';
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
            }
            &-title{
                text-transform: uppercase;
                font-size: 14px;
                font-family: $title-font;
                font-weight: 400;
                color: $title-text-color;
                margin: 0 0 20px 0;
            }
            &-text {
                margin: 0;
                font-size: 15px;
                color: $text-color;
                font-family: $text-font;
            }
}
.icon1::before {
    background-image: url(../images/icons/service1.svg);
}
.icon2::before {
    background-image: url(../images/icons/service2.svg);
}
.icon3::before {
    background-image: url(../images/icons/service3.svg);
}
.icon4::before {
    background-image: url(../images/icons/service4.svg);
}
.icon5::before {
    background-image: url(../images/icons/service5.svg);
}
.icon6::before {
    background-image: url(../images/icons/service6.svg);
}
