nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $title-font;
    margin-bottom: 166px;
    @media (max-width: 1212px) {
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    @media (max-width: 764px) {
        justify-content: center;
    }
}
.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @media (max-width: 1212px) {
        flex-wrap: wrap;
    }
    @media (max-width: 764px) {
        justify-content: center;
    }
    &__item {
        width: 100px;
        text-align: center;
        cursor: pointer;
            &:hover .site-navigation__link {
                    transition-duration: 0.2s;
                    transition-timing-function: linear;
            color: $hover-color;

        }
            &:hover .site-navigation__link::after {
            background: $hover-color;
            transition-duration: 0.2s;
            transition-timing-function: linear;
            opacity: 1;
            @media (max-width: 764px) {
                display: none;
            }
        }
}

    @media (max-width: 764px) {
            padding-bottom: 12px;
        }
}
.site-navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: $header-text-color;
    position: relative;
        &::after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: -12px;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    @media (max-width: 764px) {
            font-size: 18px;
        }
}
.menu__button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0 6px;
    width: 36px;
    height: 16px;
    & svg {
        display: block;
        fill: $header-text-color;
        width: 16px;
        height: 16px;
    }
    &:hover svg {
        fill: $hover-color;
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }
}
