.text {
    text-align: center;
    margin: 0 auto 90px;
    font-family: $text-font;
    font-size: 15px;
    color: $text-color;
    max-width: 960px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    @media (max-width: 764px) {
        margin-bottom: 40px;
    }
}
