$title-text-color: #333333;
$text-color: #999999;
$header-text-color:#ffffff;
$hover-color: #fce38a;
$title-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;
$sub-title-font: 'Kaushan Script', cursive;
$primary-color: rgb(149, 225, 211);
$secondary-color: rgb(243, 129, 129);
$gradient: linear-gradient(to bottom,  rgba(243, 129, 129, 0.6) 0%,rgba(252, 227, 138, 0.8) 100%);
